.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  gap: 10vh;
  padding: 6vh 2vw 5vh 2vw;
  height: 100vh;
  width: fit-content;
  box-shadow: 2px 0px 90px 0px rgba(104, 1, 206, 0.4);
  background-color: #1e1e1e;
  transition: transform .4s ease-in-out;
  z-index: 1000;
}

.open {
  transform: translateY(0);
}

.header { 
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.header h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 6%;
  text-transform: uppercase;
  color: #fff;
}

.links {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.side_link {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #969696;
  transition: color 0.3s;
}

.side_link:hover {
  color: #fff;
}

.menuButton {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
  color: #fff;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;
}

@media (max-width: 1200px) {

  .main {
    transform: translateX(-150%);
    align-items: center;
    padding: 5vh 5vw;
    
  }
  .menuButton {
    display: block;
    left: 10%;
  }

  .links {
    margin-block-start: 40px;
    justify-content: start;
    gap: 100px
  }

  .overlay {
    display: block;
  }

  .open {
    transform: translateX(0);
  }
  .header {
    align-self: flex-start;
  }

  .header h3 {
   font-size: 12px;
  }


}

@media (min-width: 1201px) {

  .main {
    transform: translateX(0);
  }

  .menuButton {
    display: none;
  }

  .overlay {
    display: none;
  }

  
}