.overlay {
  position: absolute;
  height: 100%;
  width:100%;
  z-index: -1;
  
}

.background_img{
  width: 100%;
  height: 100%;
  filter:brightness(80%)
}

@media screen and (width < 1200px ) {
  .background_img {
    width: 100%;
    height: 30vh
  }
}