.overlay {
  position: relative;
  height: 100%;
  width:100%;
  z-index: 1;
}

.arrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top:50%;
  left: 0;
  width:99%;
  padding: 0 1vw;
}

.arrows div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  background-color: #33333399;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.background_img{
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out; /* Добавляем transition */
}

.visible {
  opacity: 1; /* Видимое состояние */
}

.hidden {
  opacity: 0; /* Невидимое состояние */
}

@media screen and (width < 1200px ) {
  .overlay{
    position: static;
  }
  .background_img {
    width: 100%;
    height: 30vh
  }

  .arrows {
    top: 100%;
  }
}