
.main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 4vh 5vw 8vh 5vw
}

.view_description {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  width:fit-content;
  position: absolute;
  bottom: 10vh;
  z-index: 2;
}

.main .overlay {
  position: relative;
  height: 100%;
  width: 100%;
}

.main .backgroundWrapper {
  transition: transform 3s;
}

@media screen and (max-width: 1200px) {
  .main {
    margin-block-start: 0vh;
    height: 100%;
  }
  .view_description {
    gap: 2vh;
    top: 18vh
  }
}

