.cards_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  padding: 5vh 5vw;
  width: 100%;
}

.main_view {
  position: relative;
  width: 100%;
  height: 90vh;
}

@media screen and (max-width: 1200px) {
  .main_view {
    height: auto;
  }

  .cards_wrapper {
    margin: 0;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-block-start: 20vh;
    justify-items: center;
  }
}