.cards_wrapper {
  display: flex;
  flex-direction: row;
  gap: 50px;
  flex-wrap: wrap;
  margin: 5vh 0 5vh 5vw; 
}

.main_view {
  position: relative;
  width: 100%;
  height: 90vh;
}

@media screen and (max-width: 1200px) {
  .main_view {
    height: auto;
  }

  .cards_wrapper {
    margin:20vh 0 5vh 1vw;
    column-gap: 20px;
    row-gap: 0;
  }
}