.cards_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: center;
  justify-items: center;
  grid-gap: 30px;
  padding: 4vh 2vw;
}

.main_view {
  position: relative;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 1200px) {

  .cards_wrapper {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .main_view {
    height: auto;
    margin-block-start: 9vh;
  }

  .cards_wrapper {
    margin-block-start: 20vh;
    column-gap: 20px;
    row-gap: 0;
  }
}
