.header_img {
  height: 50vh;
  background: url('/favorites_page.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.empty_message {
  margin: 0 auto;
  font-size: 38px;
  font-weight: 700;
  animation: rotateShadow 7s infinite linear;
  border-radius: 15px;
  background: none;
  padding: 10px 20px;
  text-align: center;
}

.card_wrapper {
  margin-block-start: 3vh;
  padding: 0 4vw
}

@media screen and (width < 1200px) {
  .main_content {
    margin: 2%;
    row-gap: 0;
  }
}