.header_img {
  height: 50vh;
  background: url('/favorites_page.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main_content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-block-end: 5vh;
}
.empty_message {
  margin: 0 auto;
  font-size: 38px;
  font-weight: 700;
  animation: rotateShadow 7s infinite linear;
  border-radius: 15px;
  background: none;
  padding: 10px 20px;
  text-align: center;
}

.card_wrapper {
  margin-block-start: 3vh;
  margin-inline-start: 5vw;
}

@media screen and (width < 1200px) {

  .header_img {
    height: 70vw
  }
  .main_content {
    padding: 1vh 1vw 0;
    row-gap: 0;
    margin-block-end: 10vh;
  }

  .card_wrapper {
    margin-block-start: 0vh;
    margin-inline-start: 0vw;
  }
}