.main {
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: .3s ease-in-out;
  position: relative;
  width: 300px;
  height: 300px
}

.main:hover {
  scale: 1.1;
  outline: 4px solid rgba(255, 55, 0, 0.826);
  outline-offset: 2px;
}

.main:active {
  scale: 1;
}

.image_wrapper {
  height: 100%;
  position: relative;
  overflow: hidden; 
}

.image {
 
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: top center;
  transition: .4s ease-in-out;
}

.main:hover .image {
  filter: brightness(0.6); 
}

.title{
  position: absolute;
  top: 10px;
  left:10px;
  background-color: #0606063f;
  border-radius: 10px;
  padding: 5px 10px
}

.title p {
  font-size: 16px;
  color:#fff;
}


.overlay {
  position: absolute;
  width: 100%;
  bottom: 10%;
  left: 30%;
  display: flex;
  gap: 30px;
  transition: .3s ease-in-out;
  opacity: 0; 
  z-index: 1;
}

.overlay .cart, .overlay .cart_disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
}

 .cart {
  background-color: orange;
}

.cart_disabled {
  background-color: #333;
}

.cart:hover {
  background-color: var(--button-hover)
}

.cart:active {
  scale: 0.9
}

.main:hover .overlay {
  opacity: 1;
}


@media screen and (max-width: 1200px) {
  .main {
    width: 170px;
  }
  
  .image {
    border-radius: 20px;
  }

  .image_wrapper {
    height: 20vh; 
  }

  .title {
    position: static;
    background: none;
    padding: 10px 0 10px 10px;
  }

  .title p {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .overlay {
    position: static; 
    opacity: 1; 
    justify-content: space-between;
    padding: 0 2vw;
  }

  .overlay div {
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  .main:hover .image {
    filter: none; 
  }

  .main:hover {
    scale: none;
    outline: none;
  }
}