.card_wrapper {
  width: 39vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  overflow: hidden;
  position: relative; 
  animation: rotateShadow 5s infinite linear;
}

.deleting {
  animation: deleteCard 1s forwards;
}

.card_wrapper img {
  width:  100%;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  padding: 2vh 1vw;
  width: 100%;
}

.info h1 { 
  font-size: 26px;
}

.play_status{
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.game_info_table {
  column-gap: 16px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 0;
  row-gap: 15px;
  font-size: 18px;
  font-weight: 500;
}

.game_info_table dt {
  color: #a1a1a1;
}

.game_info_table a {
  color: #fff;
}

.game_info_table button a {
  text-decoration: none;
  
}

.card_wrapper .steam_img {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  border: none;
}

.cart_button:hover{
  color:orange
}

.cart_button {
  color: #fff;
}

.cart_button_disabled {
  color:#333
}

.remove_button:hover {
  color: red
}

.buttons_wrapper {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

@keyframes rotateShadow {
  0% {
    box-shadow: 3px 3px 30px rgba(0, 13, 255, 0.627);
  }
  25% {
    box-shadow: -3px 3px 20px rgba(0, 255, 128, 0.5);
  }
  50% {
    box-shadow: -3px -3px 10px rgba(33, 35, 37, 0.5);
  }
  75% {
    box-shadow: 3px -3px 20px rgba(0, 255, 128, 0.5);
  }
  100% {
    box-shadow: 3px 3px 30px rgba(0, 13, 255, 0.627);
  }
}

@keyframes deleteCard {
  0% {
    transform: translateX(0%);
  }

  100%{
    transform: translateX(1000%);
  }
}

@media screen and (max-width: 1200px) {
  .card_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 4px solid #333;
    height: fit-content;
    margin-block-start: 20px;
  }

  .image_wrapper {
    width:100%;
  }

  .card_wrapper img {
    border-right: none;
  }

  .info {
    width: 100%;
    gap: 10px;
    padding-block-start: 1vh;
  }

  .info h1 {
    font-weight: 800;
  }
}