.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  padding: 3vh 3vw;
  z-index: 10;
  transition: .3s ease-in-out;
  background-color: #92919185;
  
}

.header ul {
  display: flex;
  list-style: none;
  gap: 20px;
  cursor: pointer;
}

.header ul li:hover {
  color: #ffffff80;
}

.main_logo {
  display: flex;
  align-items: center;
  gap: 1vw;
  transition: .5s ease-in-out;
  text-decoration: none;
  color: #fff;
  position: absolute;
  right: 45vw;
  top: 1vh;
}

.main_logo:hover {
  color: var(--button-background)
}

.main_logo h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.catalog {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  color: #fff;
  background-color: var(--button-background);
  font-size: 18px;
}

.catalog:hover {
  background-color: var(--button-hover)
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.right_icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.right_icons div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right a {
  color: #fff;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user p {
  font-size: 18px;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.hearts:hover {
  color: red;
  fill: red
}

.cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  transition: .5s ease-in-out;
  position: relative;
}

.cart p {
position: absolute;
bottom: 17px;
left: 15px;
}

.cart:hover{
  color: orange
}

@media screen and (max-width:1200px) {
  .header {
    background-color: #333;
    padding: 2.5vh 6vw;
    bottom:0;
  }

  .catalog {
    background-color: inherit;
  }
  .header ul  {
    display: none;
  }
 
  .main_logo {
    position: static;
  }
}