.main {
  position: relative;
 
}

.tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#333;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: .3s ease-in-out;
}

.tooltip:hover {
  background-color: rgba(253, 0, 0, 0.519)
}

.disabled {
  fill: none;
  animation: scale-down-center .1s cubic-bezier(.25,.46,.45,.94) backwards;
  cursor: pointer;
}

.active {
  fill: red;
  animation: scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;
  cursor: pointer;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1
  }
  100% {
    transform: scale(1);
    opacity: 1
  }
}

@keyframes scale-down-center {
  0% {
    transform: scale(1);
    opacity: 1
  }
  100% {
    transform: scale(0.6);
    opacity: 1
  }
}